.carousel-banner {
  @media only screen and (min-width: 769px) {
    width: 100%;
    height: 723px;
    position: relative;
    overflow: hidden;
    margin-top: 69px;

    &__image {
      width: 100%;
      height: 700px !important;
      object-fit: cover;
      object-position: center;
    }
  }

  @media (min-width: 320px) and (max-width: 767.98px) {
    width: 100%;
    height: 25%;
    position: relative;
    overflow: hidden;
    z-index: 1060;
    margin-top: -1px;

    &__image {
      width: 100%;
      height: 25% !important;
      object-fit: cover;
      object-position: center;
    }
  }
}

.carousel-indicators {
  @media only screen and (min-width: 769px) {
    justify-content: flex-end;
    margin-bottom: -10px;
    margin-left: 0;
    margin-right: 120px;

    button {
      width: 122px !important;
      height: 8px !important;
      background-color: #b9bbbe !important;
      opacity: 1;
      border: none;
      margin: 0 8px !important;
    }
  }

  @media (min-width: 320px) and (max-width: 767.98px) {
    justify-content: flex-end;
    margin-bottom: -20px;
    margin-right: 0;
    z-index: 1060;

    button {
      width: 73px !important;
      height: 5px !important;
      background-color: #b9bbbe !important;
      opacity: 1;
      border: none;
      margin: 0 9px !important;
    }
  }
}

.carousel-indicators .active {
  background-color: #ef7f00 !important;
}
