.course-card {
  @media only screen and (min-width: 769px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
    background: #002a5b 0% 0% no-repeat padding-box;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
    }

    &__image {
      width: 45%;
      height: 100%;
      cursor: pointer;

      img {
        object-fit: fill;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 55%;
      height: 100%;
      padding: 20px 49.5px;

      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header__tags {
          display: flex;
          flex-wrap: wrap;

          .tag {
            height: 26px;
            margin-right: 5px;
            margin-bottom: 5px;
            background: #fff 0% 0% no-repeat padding-box;
            border: 1px solid #ef7f00;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 10px;

            .title {
              font-size: 16px;
              letter-spacing: 0px;
              color: #ef7f00;
            }
          }
        }

        .header__next-class {
          display: flex;
          flex-direction: row;
          align-items: center;

          .title {
            font-size: 16px;
            letter-spacing: 0px;
            color: #fff;
          }

          .date {
            margin-left: 5px;
            font-size: 16px;
            letter-spacing: 0px;
            color: #fff;
          }
        }
      }

      &__title__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 2;
        margin-top: 10px;
        margin-bottom: 20px;

        .title {
          text-align: left;
          font-weight: bold;
          font-size: 28px;
          letter-spacing: 0px;
          color: #fff;
          margin-bottom: 5px;
          line-height: 1.25;
        }

        .description {
          text-align: left;
          font-size: 16px;
          letter-spacing: 0px;
          color: #fff;
          max-width: 867px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }

      &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .goto__button {
          width: 220px;
          height: 50px;
          background: #ef7f00 0% 0% no-repeat padding-box;
          border: 1px solid #ef7f00;
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;

          &:hover {
            background: #fff 0% 0% no-repeat padding-box;
            transition: ease-in-out 0.3s;
            animation: forwards;
            color: #002a5b;
            border: 1px solid #002a5b;
          }

          &:active {
            background: #fff 0% 0% no-repeat padding-box;
            border: 1px solid #002a5b;
          }
        }

        .workload {
          font-size: 16px;
          color: #fff;
          align-self: flex-end;

          span {
            margin-left: 5px;
            font-weight: bold;
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    background: #002a5b 0% 0% no-repeat padding-box;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &__image {
      width: 100%;
      height: 177px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 25px 20px;

      &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .header__tags {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 10px;
          flex-wrap: wrap;

          .tag {
            height: 28px;
            margin-right: 8px;
            margin-bottom: 5px;
            background: #fff 0% 0% no-repeat padding-box;
            border: 1px solid #ef7f00;
            cursor: pointer;
            display: flex;
            align-items: center;

            .title {
              margin: 0 15px;
              font-size: 16px;
              letter-spacing: 0px;
              color: #ef7f00;
            }
          }
        }

        .header__next-class {
          display: none;
        }
      }

      &__title__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 22px;

        .title {
          text-align: left;
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 0px;
          color: #fff;
        }

        .description {
          display: none;
        }
      }

      &__footer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .goto__button {
          width: 100%;
          height: 50px;
          background: #ef7f00 0% 0% no-repeat padding-box;
          border: 1px solid #ef7f00;
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;

          &:hover {
            background: #fff 0% 0% no-repeat padding-box;
            transition: ease-in-out 0.3s;
            animation: forwards;
            color: #002a5b;
            border: 1px solid #002a5b;
          }

          &:active {
            background: #fff 0% 0% no-repeat padding-box;
            border: 1px solid #002a5b;
          }
        }

        .workload {
          display: none;
        }
      }
    }
  }
}
