@media only screen and (min-width: 769px) {
  .changepassword-watermark-image {
    position: absolute;
    top: 0;
    right: 0 !important;
    margin-right: 50px;
    width: 158px;
    height: 156px;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .changepassword-watermark-image {
    display: none;
  }
}

.changepassword {
  @media only screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;

    &__vertical-divider {
      position: relative;
      left: -5px;
      width: 20px;
      height: 700px;
      background: #ef7f00 0% 0% no-repeat padding-box;
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      padding-left: 146px;

      &__title {
        width: 366px;
        height: 39px;
        text-align: left;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 0px;
        color: #141b23;
      }

      p {
        width: 674px;
        height: 48px;
        text-align: left;
        font-size: 18px;
        letter-spacing: 0px;
        color: #141b23;
      }

      &__backbutton {
        display: flex;
        align-items: center;
        width: 120px;
        height: 24px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #141b23;
        margin-bottom: 110px;
        position: absolute;
        top: 0;
        margin-top: 70px;
        cursor: pointer;

        &:hover {
          color: #ef7f00;
        }

        &__title {
          margin-left: 10px;
        }

        .material-icons {
          font-weight: bold;
        }
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: #fff;

      &__inputs-group {
        display: flex;
        width: 674px;
      }

      &__checkbox {
        display: flex;
        flex-direction: column;

        &__title {
          display: inline-block;
          position: relative;
          margin-bottom: 10px;
          text-align: left;
          font-size: 16px;
          letter-spacing: 0px;
          color: #000000;
        }

        &__title > input[type="checkbox"] {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          margin: -0.5rem;
          cursor: pointer;
          opacity: 0;
          z-index: 666;
        }

        &__title > input[type="checkbox"] + span {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
          outline: #ef7f00 solid 1px;
          border-radius: 50%;
        }

        &__title > input[type="checkbox"]:checked + span {
          background-color: #ef7f00;
          border: 2px solid #fff;
        }

        &__input {
          border-radius: 8px;
          // border-color: #DCE6F4
          border: 1px solid;
          padding: 8px 16px;
          width: 100%;
        }
      }

      &__button {
        margin-top: 35px;
        margin-bottom: 20px;
        border: none;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        width: 260px;
        height: 50px;
        background: #ef7f00 0% 0% no-repeat padding-box;
        border: 1px solid #ef7f00;

        &:hover {
          background: #002a5b 0% 0% no-repeat padding-box;
          transition: ease-in-out 0.3s;
          animation: forwards;
          border: 1px solid #002a5b;
        }

        &:active {
          background: #002a5b 0% 0% no-repeat padding-box;
          border: 1px solid #002a5b;
        }

        &:disabled {
          background: #ef7f00 0% 0% no-repeat padding-box;
          opacity: 0.3;
          cursor: not-allowed;
        }
      }

      &__error {
        font-size: 14px;
        color: #f5222d;
        margin-bottom: 20px;

        &:empty {
          display: none;
        }

        &:disabled {
          color: #f5222d;
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 200px;
      width: 313px;
      height: 19px;
      position: absolute;
      bottom: 0;
      margin-bottom: 17px;

      span {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #000000;
        text-decoration: none;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100%;

    &__vertical-divider {
      position: relative;
      top: -5px;
      width: 90%;
      height: 10px;
      background: #ef7f00 0% 0% no-repeat padding-box;
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 30px 16px;

      &__title {
        margin-bottom: 10px;
        margin-top: 40px;
        text-align: left;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 0px;
        color: #141b23;
      }

      p {
        text-align: left;
        font-size: 16px;
        letter-spacing: 0px;
        color: #141b23;
        margin-bottom: 36px;
      }

      &__backbutton {
        display: flex;
        align-items: center;
        width: 120px;
        height: 24px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #141b23;
        margin-bottom: 1%;
        margin-top: 5%;
        cursor: pointer;

        &:hover {
          color: #ef7f00;
        }

        &__title {
          margin-left: 10px;
        }

        .material-icons {
          font-weight: bold;
        }
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 21vh;
      width: 100vw;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: #fff;
      width: 100%;

      &__inputs-group {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &__checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 60px;

        &__title {
          display: inline-block;
          position: relative;
          height: 22px;
          text-align: left;
          font-size: 16px;
          letter-spacing: 0px;
          color: #000000;
        }

        &__title > input[type="checkbox"] {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          margin: -0.5rem;
          cursor: pointer;
          opacity: 0;
          z-index: 666;
        }

        &__title > input[type="checkbox"] + span {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
          outline: #ef7f00 solid 1px;
          border-radius: 50%;
        }

        &__title > input[type="checkbox"]:checked + span {
          background-color: #ef7f00;
          border: 2px solid #fff;
        }
      }

      &__button {
        margin-top: 35px;
        margin-bottom: 20px;
        border: none;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        width: 100%;
        height: 50px;
        background: #ef7f00 0% 0% no-repeat padding-box;
        border: 1px solid #ef7f00;

        &:hover {
          background: #002a5b 0% 0% no-repeat padding-box;
          transition: ease-in-out 0.3s;
          animation: forwards;
          border: 1px solid #002a5b;
        }

        &:active {
          background: #002a5b 0% 0% no-repeat padding-box;
          border: 1px solid #002a5b;
        }

        &:disabled {
          background: #ef7f00 0% 0% no-repeat padding-box;
          opacity: 0.3;
          cursor: not-allowed;
        }
      }

      &__error {
        font-size: 14px;
        color: #f5222d;
        margin-bottom: 20px;

        &:empty {
          display: none;
        }

        &:disabled {
          color: #f5222d;
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 19px;
      margin-bottom: 17px;

      span {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
