.sidebar {
  @media only screen and (min-width: 769px) {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    height: 100%;
    display: flex;
    flex-direction: column;

    #obramax {
      color: #ef7f00;

      &:hover {
        color: #002a5b;
      }
    }

    &__header {
      display: flex !important;
      flex-direction: row;
      margin-bottom: 20px !important;

      &__avatar {
        width: 60px;
        height: 60px;
        background: #fff 0% 0% no-repeat padding-box;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -5px;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__name-email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: -5px;

        &__name {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;
        }

        &__email {
          font-size: 14px;
          letter-spacing: 0px;
          color: #333333;
          opacity: 0.5;
        }
      }
    }

    &__profile {
      display: flex !important;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #f5f4f7;
      padding: 0.1rem;
      margin-bottom: 15px !important;

      i {
        color: #ef7f00 !important;
        font-size: 20px !important;
        margin-right: 10px;
      }

      span {
        font-size: 14px !important;
        color: #ef7f00 !important;
        letter-spacing: 0px;
        font-weight: normal !important;
      }
    }

    .menu-divider {
      width: 100%;
      height: 1px;
      background: #707070;
      opacity: 0.2;
    }

    &__footer {
      margin-top: auto;

      &__copyright {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
          font-size: 12px !important;
          color: #575655 !important;
          font-weight: normal !important;
        }
      }
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
      position: relative;
      width: 24px;
      height: 20px;
      top: 5px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: #fff;
      height: 10% !important;
    }

    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
      background: #ef7f00;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      background: #bdc3c7;
    }

    /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
    .bm-menu-wrap {
      position: fixed;
      height: 100%;
      left: 0;
      top: 0;
    }

    /* General sidebar styles */
    .bm-menu {
      background: #fff;
      padding: 0.5em 0.25em 0;
      font-size: 1.15em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: #fff;
    }

    /* Wrapper for item list */
    .bm-item-list {
      display: flex;
      flex-direction: column;
      color: #b8b7ad;
      padding: 0.8em;

      span {
        display: flex !important;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        color: #333333;

        i {
          margin-right: 20px;
          font-size: 32px;
        }
      }
    }

    /* Individual item */
    .bm-item {
      display: inline-block;
      text-align: start;
      margin-bottom: 30px;
    }

    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
