@media only screen and (min-width: 769px) {
  .register-watermark-image {
    position: absolute;
    top: 0;
    right: 0 !important;
    margin-right: 50px;
    width: 158px;
    height: 156px;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .register-watermark-image {
    display: none;
  }
}

.register {
  @media only screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;

    &__vertical-divider {
      position: relative;
      left: -5px;
      width: 20px;
      height: 90%;
      background: #ef7f00 0% 0% no-repeat padding-box;
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: 1080px;
      padding: 10% 7% 0 7%;

      &__title {
        width: 100%;
        height: 39px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 0px;
        color: #141b23;
      }

      p {
        width: 100%;
        height: 48px;
        text-align: left;
        font-size: 18px;
        letter-spacing: 0px;
        color: #141b23;
      }

      &__backbutton {
        display: flex;
        align-items: center;
        width: 120px;
        height: 24px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #141b23;
        margin-bottom: 10%;
        margin-top: 10%;
        cursor: pointer;

        &:hover {
          color: #ef7f00;
        }

        &__title {
          margin-left: 10px;
        }

        .material-icons {
          font-weight: bold;
        }
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 1080px;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: #fff;

      &__inputs-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        position: relative;
      }

      &__inputs-row-direction {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: self-end;
        margin-bottom: 10px;
        position: relative;
      }

      &__inputs-row-direction-space-between {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      &__input-row-group-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 15px;
      }

      &__input-row-group-right {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &__title {
        width: 39px;
        height: 21px;
        text-align: left;
        font-size: 16px;
        letter-spacing: 0px;
        color: #000000;

        &__confirm-password {
          width: 120px;
          height: 21px;
          text-align: left;
          font-size: 16px;
          letter-spacing: 0px;
          color: #000000;
        }

        &__email {
          width: 50px;
        }
      }

      input:hover {
        border-color: hsl(0, 0%, 70%);
        box-shadow: 0 0 0 0.1rem hsla(0, 0%, 70%, 0.25);
      }

      input.error {
        border-color: #ff0000;
        box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
      }

      &__input {
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 0 10px;
        border-radius: 5px;
        outline: none;
        height: 45px;
        border: 1px solid #dce6f4;
      }

      &__input-profession {
        margin: 10px 15px 20px 0;
        width: 100%;

        .react-select {
          &__control {
            border-radius: 5px;
            outline: none;
            height: 45px;
            border: 1px solid #dce6f4;

            &:hover {
              border-color: hsl(0, 0%, 70%);
              box-shadow: 0 0 0 0.1rem hsla(0, 0%, 70%, 0.25);
            }
          }

          &__menu {
            z-index: 999;
          }
        }
      }

      &__input-profession.error {
        .react-select {
          &__control {
            border-color: #ff0000;
            box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
          }
        }
      }

      &__input-password {
        margin: 10px 15px 20px 0;
        width: 100%;
        padding: 0 10px;
        border-radius: 5px;
        outline: none;
        height: 45px;
        border: 1px solid #dce6f4;
      }

      &__input-confirm-password {
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 0 10px;
        border-radius: 5px;
        outline: none;
        height: 45px;
        border: 1px solid #dce6f4;
      }

      &__checkbox {
        &__title {
          display: flex;
          align-items: center;
          position: relative;
          height: 22px;
          text-align: left;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #000000;
        }

        &__title > input[type="checkbox"] {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          margin: -0.5rem;
          cursor: pointer;
          opacity: 0;
          z-index: 666;
        }

        &__title > input[type="checkbox"] + span {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
          outline: #ef7f00 solid 1px;
        }

        &__title > input[type="checkbox"]:checked + span {
          background-color: #ef7f00;
          border: 2px solid #fff;
        }
      }

      &__register__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__socialregister {
          display: flex;
          flex-direction: row;
          align-items: center;

          &__title {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #000000;
            margin-right: 16px;
          }

          &__buttons {
            display: flex;
            flex-direction: row;

            &__icon {
              margin-right: 16px;
              width: 33px;
              height: 33px;
            }
          }

          &__buttons > *:last-child {
            margin-right: 0;
          }
        }
      }

      &__button {
        margin-top: 30px;
        margin-bottom: 20px;
        border: none;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        width: 260px;
        height: 50px;
        background: #ef7f00 0% 0% no-repeat padding-box;
        border: 1px solid #ef7f00;

        &:hover {
          background: #002a5b 0% 0% no-repeat padding-box;
          transition: ease-in-out 0.3s;
          animation: forwards;
          border: 1px solid #002a5b;
        }

        &:active {
          background: #002a5b 0% 0% no-repeat padding-box;
          border: 1px solid #002a5b;
        }

        &:disabled {
          background: #ef7f00 0% 0% no-repeat padding-box;
          opacity: 0.3;
          cursor: not-allowed;
        }
      }

      &__error {
        font-size: 14px;
        color: #f5222d;
        position: absolute;
        bottom: 0;
        padding-left: 11px;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 19px;
      margin-bottom: 17px;

      span {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #000000;
        text-decoration: none;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    &__vertical-divider {
      position: relative;
      top: -5px;
      width: 90%;
      height: 10px;
      background: #ef7f00 0% 0% no-repeat padding-box;
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 30px 16px;

      &__title {
        margin-bottom: 10px;
        margin-top: 45px;
        text-align: left;
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 0px;
        color: #141b23;
      }

      p {
        text-align: left;
        font-size: 16px;
        letter-spacing: 0px;
        color: #141b23;
        margin-bottom: 40px;
      }

      &__backbutton {
        display: flex;
        align-items: center;
        width: 120px;
        height: 24px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #141b23;
        position: absolute;
        top: 0;
        margin-top: 55%;
        cursor: pointer;

        &:hover {
          color: #ef7f00;
        }

        &__title {
          margin-left: 10px;
        }

        .material-icons {
          font-weight: bold;
        }
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 21vh;
      width: 100vw;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: #fff;
      width: 100%;

      &__inputs-group {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
      }

      &__inputs-row-direction {
        display: flex;
        flex-direction: column;
        align-items: self-end;
        position: relative;
        width: 100%;
      }

      &__inputs-row-direction-space-between {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      &__input-row-group-left {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &__input-row-group-right {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &__title {
        width: 39px;
        height: 21px;
        text-align: left;
        font-size: 16px;
        letter-spacing: 0px;
        color: #000000;

        &__confirm-password {
          height: 21px;
          text-align: left;
          font-size: 16px;
          letter-spacing: 0px;
          color: #000000;
        }

        &__email {
          width: 50px;
        }
      }

      input:hover {
        border-color: hsl(0, 0%, 70%);
        box-shadow: 0 0 0 0.1rem hsla(0, 0%, 70%, 0.25);
      }

      input.error {
        border-color: #ff0000;
        box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
      }

      &__input {
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 0 10px;
        border-radius: 5px;
        outline: none;
        height: 45px;
        border: 1px solid #dce6f4;
      }

      &__input-profession {
        margin: 10px 15px 20px 0;
        width: 100%;

        .react-select {
          &__control {
            border-radius: 5px;
            outline: none;
            height: 45px;
            border: 1px solid #dce6f4;

            &:hover {
              border-color: hsl(0, 0%, 70%);
              box-shadow: 0 0 0 0.1rem hsla(0, 0%, 70%, 0.25);
            }
          }
        }
      }

      &__input-profession.other-occupation {
        .react-select__single-value {
          color: hsl(0, 0%, 70%) !important;
        }
      }

      &__input-profession.error {
        .react-select {
          &__control {
            border-color: #ff0000;
            box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.25);
          }
        }
      }

      &__input-password {
        margin: 10px 15px 20px 0;
        width: 100%;
        padding: 0 10px;
        border-radius: 5px;
        outline: none;
        height: 45px;
        border: 1px solid #dce6f4;
      }

      &__input-confirm-password {
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 0 10px;
        border-radius: 5px;
        outline: none;
        height: 45px;
        border: 1px solid #dce6f4;
      }

      &__checkbox {
        display: flex;
        align-self: flex-start;
        margin-top: 10px;
        margin-bottom: 20px;

        &__title {
          display: flex;
          align-items: center;
          position: relative;
          height: 22px;
          text-align: left;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #000000;
        }

        &__title > input[type="checkbox"] {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          margin: -0.5rem;
          cursor: pointer;
          opacity: 0;
          z-index: 666;
        }

        &__title > input[type="checkbox"] + span {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
          outline: #ef7f00 solid 1px;
        }

        &__title > input[type="checkbox"]:checked + span {
          background-color: #ef7f00;
          border: 2px solid #fff;
        }
      }

      &__register__buttons {
        display: flex;
        flex-direction: column;
        align-self: flex-start;

        &__socialregister {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          &__title {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0px;
            color: #000000;
            margin-bottom: 11px;
          }

          &__buttons {
            display: flex;
            flex-direction: row;

            &__icon {
              margin-right: 25px;
              width: 50px;
              height: 50px;
            }
          }

          &__buttons > *:last-child {
            margin-right: 0;
          }
        }
      }

      &__button {
        margin-top: 30px;
        margin-bottom: 60px;
        border: none;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        width: 100%;
        height: 50px;
        background: #ef7f00 0% 0% no-repeat padding-box;
        border: 1px solid #ef7f00;

        &:hover {
          background: #002a5b 0% 0% no-repeat padding-box;
          transition: ease-in-out 0.3s;
          animation: forwards;
          border: 1px solid #002a5b;
        }

        &:active {
          background: #002a5b 0% 0% no-repeat padding-box;
          border: 1px solid #002a5b;
        }

        &:disabled {
          background: #ef7f00 0% 0% no-repeat padding-box;
          opacity: 0.3;
          cursor: not-allowed;
        }
      }

      &__error {
        font-size: 14px;
        color: #f5222d;
        margin-top: -15px;
        margin-bottom: 10px;
      }
    }

    &__footer {
      display: flex;
      align-self: center;
      height: 19px;

      span {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
