.course-category {
  @media only screen and (min-width: 768px) {
    margin-top: 60px;
    width: 100%;
    padding: 0 140px;

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .content {
        &__title {
          h1 {
            letter-spacing: 0.58px;
            color: #141b23;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: bold;
          }
        }

        &__description {
          p {
            text-align: left;
            color: #141b23;
            font-size: 18px;
            margin-top: 25px;
          }
          margin-bottom: 34px;
        }

        &__search-bar__and__filters {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          margin-bottom: 20px;
          width: 100%;
          justify-content: space-between;

          .search {
            width: 398px;
            height: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 44px;

            &__form {
              width: auto;
              display: flex;

              input {
                padding-left: 55px !important;
                width: 398px;
                height: 45px;
                border: 1px solid #dce6f4;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                color: #002a5b;
              }

              input.search-query {
                background: #ffffff 0% 0% no-repeat padding-box;
                font-size: 18px;
                font-weight: bold;
                color: #002a5b;
              }

              input::placeholder {
                color: #002a5b;
              }

              i {
                font-size: 26px;
                color: #002a5b;
                align-self: baseline;
                position: absolute;
                margin-top: 10px;
                margin-left: 15px;
                text-align: center;
                z-index: 99;
                cursor: pointer;
              }
            }
          }

          .filters {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .filter__title {
              color: #000;
              font-size: 18px;
              margin-right: 20px;
            }

            .item-category {
              position: relative;
              height: 23px;
              display: flex;
              align-items: center;
              margin-right: 32px;
              cursor: pointer;

              .title {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.32px;
                color: #141b23;
              }

              i {
                font-size: 26px;
                color: #141b23;
                align-self: baseline;
              }

              &__categories {
                &__dropdown-menu {
                  margin-left: 10px;
                  position: relative;
                  display: inline-block;

                  &__menu.active {
                    display: flex;
                  }

                  &__menu {
                    width: 640px;
                    display: none;
                    position: absolute;
                    z-index: 9999;
                    background: #002a5b 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    padding-top: 30px;
                    margin-top: 40px;
                    flex-direction: row;
                    top: 0;
                    right: 0;
                    color: #fff;
                    cursor: auto;

                    &__items__left {
                      width: 277px;
                      display: flex;
                      flex-direction: column;
                      background: #002a5b;

                      &__item {
                        width: 100%;
                        height: 60px;
                        padding: 10px 30px 30px 50px;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: left;
                        text-decoration: none;
                        display: block;
                        cursor: pointer;

                        &:hover {
                          background: #ef7f00 0% 0% no-repeat padding-box;
                        }

                        &.active {
                          background: #ef7f00 0% 0% no-repeat padding-box;
                        }
                      }
                    }

                    &__items__right {
                      display: flex;
                      flex-direction: column;
                      background: #002a5b;

                      &__item {
                        width: 100%;
                        height: 60px;
                        padding: 10px 30px 30px 15px;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: left;
                        text-decoration: none;
                        display: block;
                        cursor: pointer;

                        &:hover {
                          background: #ef7f00 0% 0% no-repeat padding-box;
                        }

                        &.active {
                          background: #ef7f00 0% 0% no-repeat padding-box;
                        }
                      }
                    }
                  }
                }
              }
            }

            .item-type {
              position: relative;
              height: 23px;
              display: flex;
              align-items: center;
              margin-right: 32px;
              cursor: pointer;

              .title {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.32px;
                color: #141b23;
              }

              i {
                font-size: 26px;
                color: #141b23;
                align-self: baseline;
              }

              &__courses-types {
                &__dropdown-menu {
                  margin-left: 10px;
                  position: relative;
                  display: inline-block;

                  &__menu.active {
                    display: flex;
                  }

                  &__menu {
                    width: 200px;
                    display: none;
                    position: absolute;
                    z-index: 9999;
                    background: #002a5b 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    margin-top: 30px;
                    flex-direction: row;
                    top: 0;
                    right: 0;
                    color: #fff;
                    cursor: auto;

                    &__items__left {
                      width: 277px;
                      display: flex;
                      flex-direction: column;
                      background: #002a5b;

                      &__item {
                        width: 100%;
                        height: 60px;
                        padding: 20px 30px 0px 30px;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: left;
                        text-decoration: none;
                        display: block;
                        cursor: pointer;

                        &:hover {
                          background: #ef7f00 0% 0% no-repeat padding-box;
                        }

                        &.active {
                          background: #ef7f00 0% 0% no-repeat padding-box;
                        }
                      }
                    }
                  }
                }
              }
            }

            .item-location {
              position: relative;
              height: 23px;
              display: flex;
              align-items: center;
              cursor: pointer;

              .title {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.32px;
                color: #141b23;
              }

              i {
                font-size: 26px;
                color: #141b23;
                align-self: baseline;
              }

              &__locations {
                &__dropdown-menu {
                  margin-left: 10px;
                  position: relative;
                  display: inline-block;

                  &__menu.active {
                    display: flex;
                  }

                  &__menu {
                    width: 200px;
                    display: none;
                    position: absolute;
                    z-index: 9999;
                    background: #002a5b 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    margin-top: 30px;
                    flex-direction: row;
                    top: 0;
                    right: 0;
                    color: #fff;
                    cursor: auto;

                    &__items__left {
                      width: 277px;
                      display: flex;
                      flex-direction: column;
                      background: #002a5b;

                      &__item {
                        width: 100%;
                        height: 60px;
                        padding: 20px 30px 0px 30px;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: left;
                        text-decoration: none;
                        display: block;
                        cursor: pointer;

                        &:hover {
                          background: #ef7f00 0% 0% no-repeat padding-box;
                        }

                        &.active {
                          background: #ef7f00 0% 0% no-repeat padding-box;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &__divider {
          width: 100%;
          height: 1px;
          background: #b9bbbe;
          margin-bottom: 60px;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767.98px) {
    margin-top: 30px;
    width: 100%;
    padding: 0 16px;

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .content {
        &__title {
          margin-bottom: 22px;

          h1 {
            letter-spacing: 0.58px;
            color: #141b23;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: bold;
          }
        }

        &__description {
          display: none;
        }

        &__search-bar__and__filters {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-bottom: 33px;
          width: 100%;
          justify-content: space-between;

          .search {
            width: 100%;
            height: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &__form {
              width: 100%;
              display: flex;

              input {
                padding-left: 13% !important;
                width: 100%;
                height: 45px;
                border: 1px solid #dce6f4;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                color: #002a5b;
              }

              input.search-query {
                background: #ffffff 0% 0% no-repeat padding-box;
                font-size: 18px;
                font-weight: bold;
                color: #002a5b;
              }

              input::placeholder {
                color: #002a5b;
              }

              i {
                font-size: 26px;
                color: #002a5b;
                align-self: baseline;
                position: absolute;
                margin-top: 10px;
                margin-left: 15px;
                text-align: center;
                z-index: 99;
                cursor: pointer;
              }
            }
          }

          .filters {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            text-align: left;

            .filter__title {
              flex: 1 1 100%;
              color: #000;
              font-size: 18px;
              align-self: flex-start;
              margin-bottom: 8px;
              margin-top: 21px;
            }

            .item-category {
              flex: 1 1 30%;
              height: 23px;
              display: flex;
              align-items: center;
              cursor: pointer;

              .title {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.32px;
                color: #141b23;
              }

              i {
                font-size: 26px;
                color: #141b23;
                align-self: baseline;
              }
            }

            .item-type {
              display: none;
            }

            .item-location {
              flex: 1 1 50%;
              height: 23px;
              display: flex;
              align-items: center;
              cursor: pointer;

              .title {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.32px;
                color: #141b23;
              }

              i {
                font-size: 26px;
                color: #141b23;
                align-self: baseline;
              }
            }
          }
        }

        &__divider {
          display: none;
        }

        &__courses {
          width: 100%;
        }
      }
    }
  }
}
